<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059197041012-nj8toia7180jaskikc8kc6vpl7e0mdvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059197041012-nj8toia7180jaskikc8kc6vpl7e0mdvr</string>
	<key>API_KEY</key>
	<string>AIzaSyDUOhWUAfzMIkVw-Tz9xA8X1MkG4LlY8m0</string>
	<key>GCM_SENDER_ID</key>
	<string>1059197041012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.nitishxyz.articlesapp</string>
	<key>PROJECT_ID</key>
	<string>logrocket-article-2a47a</string>
	<key>STORAGE_BUCKET</key>
	<string>logrocket-article-2a47a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059197041012:ios:1191f4d2858d1edf841421</string>
</dict>
</plist>